*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-image: linear-gradient(rgba(115, 173, 101, .4), rgba(115, 173, 101, .4)), url(../img/movie1.jpg);
    background-size: cover;
    

}
.randombar{
    height: 50px;
    background-color: rgb(238, 85, 58);
}
#form{
    height: 700px;
    background-color: rebeccapurple;

}

.form-box{
    width: 60%;
    margin: 0 auto;
    height: 400px;
    border: 2px solid purple;
    background-color: #fff;
    padding: 20px;
}
.containerr{
    width: 85%;
    margin: 0 auto;
}
#nav{
    height: 10vh;
    background-color: rgb(207, 110, 207);
    display: flex;
    align-items: center;
    color: #fff;
}
#search{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.filter{
    width: 20%;
    height: 90%;
    border:3px solid rgb(207, 110, 207) ;
}
.results{
    
    margin-top: 20px;
    background-color: #fff;
    width: 100%;
    border-radius: 6px;
  
}
.rij{
    height: 500px;
    padding:20px;
    width:100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    position: relative;
    
}

.image{
   margin-right: 20px;
}
.movie-img{
    width: 100%;
}

.beschrijving{
width: 50%;
}
ul li{
    margin-bottom: 5px;
    
}
ul{
    margin-left: 30px;
    margin-top: 20px ;
    margin-bottom: 20px ;
}



#zoek{
    margin-left: auto;
}


#anderefilm{
    width: 400px;
}
@media (max-width: 1500px){
    .rij{
        height: 350px;
    }
    .beschrijving{
        margin-top: 20px ;

        width:60%;
        }
        .info__inline{
            display: flex;
        }
        ul{
            width: 45%;
        }
        #anderefilm{
            width: 300px;
        }
}

@media (max-width: 900px){
    .containerr{
        width: 100%;
    }
    #top-nav{
        display: none;
    }
    .results{
        height: 100vh;
        margin-top: 0;
    }
}